body {
    background-color: rgba(189, 181, 171, 0.4)
}

/* menu bar*/
.header {
	padding-top: 25px;
    height: 110px;
}

.logo {
	float: left;
}

.logo:hover {
    background-color: rgb(172, 113, 26);
    border-radius: 10px;
}

.menu-area li a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 25px;
	font-size: 20px;
	line-height: 30px;
	position: relative;
	z-index: 1;
}

.menu-area li {
	list-style: none;
	display: inline-block;
}

.menu-area li a:hover {
	background: tomato;
	color: #fff;
    border-radius: 10px;
}

nav {
	position: relative;
	padding: 10px 20px 10px 10px;
	text-align: right;
	z-index: 1;
	background: #333;
	margin: 0 auto;
	width: calc(100% - 60px);
}

nav:before {
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}

/* Slides */
.slides {
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* background-color: red ; */
}
.coupons-list {
    width: 200%;
    height: 100%;
    animation: right-left 20s infinite;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes right-left {
    0% {margin-right: 0%;}
    50% {margin-left: -100%;}
    100% {margin-left: 0%;}
}

.slide1 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(55, 151, 214);
    text-align: center;
    font-weight: bold;
}

.slide2 {
    font-size: 18px;
    color: rgb(155, 56, 56);
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(101, 221, 117);
    text-align: center;
    font-weight: bold;
}

/* what we teach section */

.line {
    height: 2px;
    background-color: black;
}

.container {
    width: 100%;
    height: 400px;
    /* border: 2px solid red; */
}

.sub {
    float: left;
    width: 25%;
    height: 90%;
    /* border: 2px solid red; */
    margin: 4%;
    margin-top: 1%;
    text-align: center;
}

.sub img {
    width: 100%;
    border-radius: 20px;
    /* border: 2px solid red; */
}

.sub h2 {
    color: rgb(68, 185, 214);
    margin-bottom: 7%;
}

.sub h2:hover {
    color: rgb(211, 87, 56);
}

.sub a {
    text-decoration: none;
    background-color: rgb(73, 55, 55); 
    color: white;
    padding: 5%;
    font-size: 18px;
    border-top-right-radius: -30%;
    border-bottom-left-radius: -30%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.sub a:hover {
    color: rgb(9, 10, 70);
    background-color:rgb(188, 198, 243);
    font-weight: bold;
}

.openwindow {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(236, 222, 205, 0.6);
    opacity: 0;
    pointer-events: none;    
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.openwindow:target {
    opacity: 1;
    pointer-events: all;
}

.whole-window {
    width: 40%;
    height: 64%;
    background-color: white;
    margin-top: 5%; 
    margin-left: 30%;  
    /* border: 2px solid red; */
    border-radius: 2%;
}

.openwindow #x {
    float: right;
    padding: 1%;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;
    color: black;     
    border-radius: 10%;
}

.openwindow #x:hover {
    background-color: red;
    color: white;
}

.title-box {
    width: 85%;
    /* height: 70%; */
    margin: 5%;
    border: 2px solid white;
    font-size: 30px;
}

.box-line {
    height: 2px;
    background-color: gray;
}

.description {
    width: 100%;
    height: 35%;
    background-color: rgb(197, 197, 197);
    color: black;
    /* border: 2px solid red; */
}

.description p {
    width: 90%;
    padding: 2%;
    margin: 2%;
    font-size: 22px;
    /* border: 2px solid red;  */
}

/* apply button */
button {
    width: 50%;
    margin-left: 25%;
    background-color: rgb(243, 196, 134);
    padding: 1%;
    border-radius: 5px;
    font-size: 50px;
    color: rgb(71, 65, 28);
    font-weight: bolder;
}

button a {
    text-decoration: none;
}

button:hover {
    color: rgb(180, 58, 58);
    background-color: aquamarine;
}

/* Footer */
.footer {
    background-color: rgb(143, 141, 24);
    width: 100%;
    height: 320px;
    color: white;
}

.footer-title li {
    margin-top: 15px;
    display:inline;
    width: 25%;
    float: left;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.service-list li {
    display: inline;
    width: 25%;
    float: left;
    height: 30px;
    text-align: center;
}

.footer-line {
    margin-top: 5%;
    width: 90%;
    height: 1px;
    background-color: white;
}

.footer h4 {
    text-align: end;
    width: 80%;
    float: right;
    margin-right: 5%;
}
.connect {
    width: 95%;
    /* border: 2px solid red; */

}
.connection-list {

    /* width: 80%; */
    height: 50px;
    /* border: 2px solid red; */
}

.connection-list li {
    display: inline;
    width: 7%;
    float: right;
    text-align: end;
    /* margin-right: -5%; */
}

.connection-list img {
    width: 50px;
    height: 50px;
}

.credit p {
    margin-top: 2%;
    text-align: center;
}