body {
    background-color: #77c9c9;
    font-family: Helvetica, sans-serif;
    font-size: 50;
}

.name {
    text-align: center;
    font-size: 45px;
}

.profession {
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
}

hr {
    height: 10px;
    border: 0px;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    border-radius: 5%;
}
    
.slide {
    float: left;
    height: 510px;
    width: 728px;
    border-radius: 5%;
}

.slide-wrapper {
    width: calc(728px * 4);
    animation: slide 10s ease infinite;
    border-radius: 5%;

}
.slide:nth-child(1) {
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-size: 510px 728px;
    border-radius: 5%;

}

.slide:nth-child(2) {
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-size: 510px 728px;
}

.slide:nth-child(3) {
    background-image: url("pic3.jpg");
    background-repeat: no-repeat;
    background-size: 510px 728px;
}

.slide:nth-child(4) {
    background-image: url("pic4.jfif");
    background-repeat: no-repeat;
    background-size: 510px 728px;
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}

.image {
    margin-left:2%;
    float:left; 
    height:20%;
    width:20%;
    border-radius: 5%;
    border: 2px solid white;
    padding: 10px;
} 
   
.container1 {
    width:100%;
    height:auto;
}

.text-container {
    float: right;
    width: 75%;
    font-size: 20px;
}

